In [1]:
import pandas as pd

# Ù…Ø³Ø§Ø± Ø§Ù„ÙØ§ÙŠÙ†Ù„
path = "../data/final/poi_selected.parquet"

poi = pd.read_parquet(path)

print("Shape:", poi.shape)
print("\nColumns:")
print(poi.columns)

print("\nCategory distribution:")
print(poi["category_source"].value_counts())

Shape: (3552, 16)

Columns:
Index(['poi_id', 'name', 'region', 'address', 'longitude', 'latitude',
       'business_status', 'phone', 'website_domain', 'rating', 'rating_count',
       'traffic_score', 'time_spent', 'category_source', 'category_id',
       'city_id'],
      dtype='object')

Category distribution:
category_source
personal_and_household_services    686
retail_and_shopping                540
travel_and_lodging                 539
dining_and_drinking                531
landmarks_and_nature               458
amusement_and_leisure              402
arts_and_culture                   396
Name: count, dtype: int64

In [2]:
import pandas as pd

poi = pd.read_parquet("../data/final/poi_selected.parquet")

# Ø¹Ø±Ø¶ ØªÙˆØ²ÙŠØ¹ Ø§Ù„ÙØ¦Ø§Øª
print(poi["category_source"].value_counts())

# Ø¹Ø±Ø¶ ÙÙ‚Ø· Ø§Ù„Ù‡Ø³ØªÙˆØ±ÙŠÙƒØ§Ù„
historical = poi[poi["category_source"] == "historical_sites"]
print("\nHistorical count:", historical.shape[0])

# Ø¹Ø±Ø¶ ÙÙ‚Ø· Ø§Ù„Ø§ØªØ±Ø§ÙƒØ´Ù†
attractions = poi[poi["category_source"] == "attractions"]
print("Attractions count:", attractions.shape[0])

category_source
personal_and_household_services    686
retail_and_shopping                540
travel_and_lodging                 539
dining_and_drinking                531
landmarks_and_nature               458
amusement_and_leisure              402
arts_and_culture                   396
Name: count, dtype: int64

Historical count: 0
Attractions count: 0

In [ ]:
import pandas as pd

poi_norm = pd.read_parquet("../data/processed/poi/poi_normalized.parquet")

print(poi_norm["category_source"].value_counts())

category_source
personal_and_household_services    686
retail_and_shopping                540
travel_and_lodging                 539
dining_and_drinking                531
landmarks_and_nature               458
amusement_and_leisure              402
arts_and_culture                   396
Name: count, dtype: int64

:

In [1]:
import pandas as pd

city_alias_path = "../data/processed/geo/city_aliases.csv"
city_alias = pd.read_csv(city_alias_path)

print(city_alias.columns.tolist())
print(city_alias.head(5))

# ØªÙ†Ø¸ÙŠÙ Ø£Ø³Ù…Ø§Ø¡ Ø§Ù„Ø£Ø¹Ù…Ø¯Ø© Ù…Ù† Ø§Ù„Ù…Ø³Ø§ÙØ§Øª
city_alias.columns = city_alias.columns.str.strip()
print("After strip:", city_alias.columns.tolist())

['alias', 'city_geo', 'city_id', 'alias_norm']
       alias city_geo  city_id alias_norm
0     Ø§Ù„Ø±ÙŠØ§Ø¶   riyadh        1     Ø§Ù„Ø±ÙŠØ§Ø¶
1     riyadh   riyadh        1     riyadh
2  ar riyadh   riyadh        1  ar riyadh
3  al riyadh   riyadh        1  al riyadh
4        Ø¬Ø¯Ø©   jeddah        2        Ø¬Ø¯Ø©
After strip: ['alias', 'city_geo', 'city_id', 'alias_norm']

In [3]:
import pandas as pd

poi_master = pd.read_parquet("../data/processed/poi/poi_master.parquet")

print(poi_master.shape)
print(poi_master.columns.tolist())

(7000, 18)
['poi_id', 'name', 'region', 'locality', 'address', 'longitude', 'latitude', 'category_level1', 'category_level2', 'category_level3', 'business_status', 'phone', 'website_domain', 'rating', 'rating_count', 'traffic_score', 'time_spent', 'category_source']

In [4]:
import pandas as pd

# ğŸ‘‡ ØºÙŠØ±ÙŠ Ø§Ø³Ù… Ø§Ù„Ù…Ù„Ù Ù‡Ù†Ø§ ÙÙ‚Ø·
file_path = "../data/final/poi_selected.parquet"

# Ù‚Ø±Ø§Ø¡Ø© Ø§Ù„Ù…Ù„Ù
df = pd.read_parquet(file_path)

# Ø¹Ø±Ø¶ Ù…Ø¹Ù„ÙˆÙ…Ø§Øª Ø£Ø³Ø§Ø³ÙŠØ©
print("Shape:", df.shape)
print("\nColumns:")
print(df.columns.tolist())

print("\nData Types:")
print(df.dtypes)

print("\nFirst 5 rows:")
display(df.head())

print("\nNull values per column:")
print(df.isna().sum())

Shape: (3552, 15)

Columns:
['poi_id', 'name', 'address', 'longitude', 'latitude', 'business_status', 'phone', 'website_domain', 'rating', 'rating_count', 'traffic_score', 'time_spent', 'category_source', 'city_id', 'category_id']

Data Types:
poi_id              object
name                object
address             object
longitude          float64
latitude           float64
business_status     object
phone               object
website_domain      object
rating             float64
rating_count       float64
traffic_score      float64
time_spent          object
category_source     object
city_id            float64
category_id          int64
dtype: object

First 5 rows:

,poi_id,name,address,longitude,latitude,business_status,phone,website_domain,rating,rating_count,traffic_score,time_spent,category_source,city_id,category_id
0,19aa47c419fe05c1fa920ce5f658a917,Ù…Ù„Ø§Ù‡ÙŠ Ø¨ÙˆÙˆØ³Øª - Boost,"Gold Moor, Ahmad Al Attas, 7216, Jeddah 23425,...",39.126735,21.584442,Open,+966 50 087 8111,boostsaudi.com,4.1,2720.0,50.29,People typically spend up to 4 hours here,amusement_and_leisure,2.0,1
1,cf2a434ce77c741ddf5023cc71ae5426,Toy Town,"King Fahd Bin Abdul Aziz Rd, Ash Shati Al Ghar...",50.112017,26.465347,Open,+966 13 809 1009,toytown.com.sa,4.0,2653.0,44.43,People typically spend up to 2 hours here,amusement_and_leisure,4.0,2
2,f543f9f4ce9d02b03fc4689ee9941074,Ù‚ÙŠÙ… Ø§Ù„Ù…Ø³Ø§Ø¡,3311-3394 Ø·Ø±ÙŠÙ‚ Ø§Ù„Ø§Ù…Ø§Ù… Ù…Ø§Ù„ÙƒØŒ Ø¨Ø¯Ø±ØŒØŒ Ø§Ù„Ø±ÙŠØ§Ø¶ 14724...,46.699215,24.552106,Open,+966 53 368 8755,linktr.ee,4.1,225.0,32.00,People typically spend up to 3.5 hours here,amusement_and_leisure,1.0,3
3,e097a40b53c49134ac6172d1d5d8306b,DAZ Ø¯Ø§Ø²,"North Obhur, Prince Abdullah AlFaisal Street, ...",39.118702,21.755060,Open,+966 800 244 0306,daz.sa,4.6,467.0,36.71,People typically spend up to 3 hours here,amusement_and_leisure,2.0,2
4,b564f41966978aca5e532d29a4d5139e,Ø§Ø³ÙƒÙŠØ¨ Ù…Ø´Ù† | Escape Mission,"King Abdulaziz Rd, Al Wurud, Riyadh 12252, Sau...",46.687299,24.726551,Open,+966 50 111 0305,escapemission.sa.com,4.6,740.0,50.00,People typically spend up to 2 hours here,amusement_and_leisure,1.0,4

Null values per column:
poi_id                0
name                  0
address               0
longitude             0
latitude              0
business_status       0
phone               186
website_domain      620
rating                0
rating_count          0
traffic_score       520
time_spent         1271
category_source       0
city_id               0
category_id           0
dtype: int64

In [5]:
import pandas as pd

# ğŸ‘‡ ØºÙŠØ±ÙŠ Ø§Ø³Ù… Ø§Ù„Ù…Ù„Ù Ù‡Ù†Ø§ ÙÙ‚Ø·
file_path = "../data/final/poi_selected.parquet"

# Ù‚Ø±Ø§Ø¡Ø© Ø§Ù„Ù…Ù„Ù
df = pd.read_parquet(file_path)

# Ø¹Ø±Ø¶ Ù…Ø¹Ù„ÙˆÙ…Ø§Øª Ø£Ø³Ø§Ø³ÙŠØ©
print("Shape:", df.shape)
print("\nColumns:")
print(df.columns.tolist())

print("\nData Types:")
print(df.dtypes)

print("\nFirst 5 rows:")
display(df.head())

print("\nNull values per column:")
print(df.isna().sum())

Shape: (3552, 15)

Columns:
['poi_id', 'name', 'address', 'longitude', 'latitude', 'business_status', 'phone', 'website_domain', 'rating', 'rating_count', 'traffic_score', 'time_spent', 'category_source', 'city_id', 'category_id']

Data Types:
poi_id              object
name                object
address             object
longitude          float64
latitude           float64
business_status     object
phone               object
website_domain      object
rating             float64
rating_count       float64
traffic_score      float64
time_spent          object
category_source     object
city_id            float64
category_id          int64
dtype: object

First 5 rows:

,poi_id,name,address,longitude,latitude,business_status,phone,website_domain,rating,rating_count,traffic_score,time_spent,category_source,city_id,category_id
0,19aa47c419fe05c1fa920ce5f658a917,Ù…Ù„Ø§Ù‡ÙŠ Ø¨ÙˆÙˆØ³Øª - Boost,"Gold Moor, Ahmad Al Attas, 7216, Jeddah 23425,...",39.126735,21.584442,Open,+966 50 087 8111,boostsaudi.com,4.1,2720.0,50.29,People typically spend up to 4 hours here,amusement_and_leisure,2.0,1
1,cf2a434ce77c741ddf5023cc71ae5426,Toy Town,"King Fahd Bin Abdul Aziz Rd, Ash Shati Al Ghar...",50.112017,26.465347,Open,+966 13 809 1009,toytown.com.sa,4.0,2653.0,44.43,People typically spend up to 2 hours here,amusement_and_leisure,4.0,2
2,f543f9f4ce9d02b03fc4689ee9941074,Ù‚ÙŠÙ… Ø§Ù„Ù…Ø³Ø§Ø¡,3311-3394 Ø·Ø±ÙŠÙ‚ Ø§Ù„Ø§Ù…Ø§Ù… Ù…Ø§Ù„ÙƒØŒ Ø¨Ø¯Ø±ØŒØŒ Ø§Ù„Ø±ÙŠØ§Ø¶ 14724...,46.699215,24.552106,Open,+966 53 368 8755,linktr.ee,4.1,225.0,32.00,People typically spend up to 3.5 hours here,amusement_and_leisure,1.0,3
3,e097a40b53c49134ac6172d1d5d8306b,DAZ Ø¯Ø§Ø²,"North Obhur, Prince Abdullah AlFaisal Street, ...",39.118702,21.755060,Open,+966 800 244 0306,daz.sa,4.6,467.0,36.71,People typically spend up to 3 hours here,amusement_and_leisure,2.0,2
4,b564f41966978aca5e532d29a4d5139e,Ø§Ø³ÙƒÙŠØ¨ Ù…Ø´Ù† | Escape Mission,"King Abdulaziz Rd, Al Wurud, Riyadh 12252, Sau...",46.687299,24.726551,Open,+966 50 111 0305,escapemission.sa.com,4.6,740.0,50.00,People typically spend up to 2 hours here,amusement_and_leisure,1.0,4

Null values per column:
poi_id                0
name                  0
address               0
longitude             0
latitude              0
business_status       0
phone               186
website_domain      620
rating                0
rating_count          0
traffic_score       520
time_spent         1271
category_source       0
city_id               0
category_id           0
dtype: int64

In [5]:
import pandas as pd

# ğŸ‘‡ ØºÙŠØ±ÙŠ Ø§Ø³Ù… Ø§Ù„Ù…Ù„Ù Ù‡Ù†Ø§ ÙÙ‚Ø·
file_path = "../data/final/events_selected.parquet"

# Ù‚Ø±Ø§Ø¡Ø© Ø§Ù„Ù…Ù„Ù
df = pd.read_parquet(file_path)

# Ø¹Ø±Ø¶ Ù…Ø¹Ù„ÙˆÙ…Ø§Øª Ø£Ø³Ø§Ø³ÙŠØ©
print("Shape:", df.shape)
print("\nColumns:")
print(df.columns.tolist())

print("\nData Types:")
print(df.dtypes)

print("\nFirst 5 rows:")
display(df.head())

print("\nNull values per column:")
print(df.isna().sum())

Shape: (14, 14)

Columns:
['source_id', 'name', 'description', 'latitude', 'longitude', 'city', 'start_date', 'end_date', 'ticket_price', 'source', 'city_norm', 'alias_norm', 'city_geo', 'city_id']

Data Types:
source_id                    object
name                         object
description                  object
latitude                    float64
longitude                   float64
city                         object
start_date      datetime64[ns, UTC]
end_date        datetime64[ns, UTC]
ticket_price                 object
source                       object
city_norm                    object
alias_norm                   object
city_geo                     object
city_id                     float64
dtype: object

First 5 rows:

,source_id,name,description,latitude,longitude,city,start_date,end_date,ticket_price,source,city_norm,alias_norm,city_geo,city_id
0,/content/dam/sauditourism/cf/ar/events/riyadh-...,LEAP 2026,ÙŠÙØ¹Ø¯ Ù…Ø¤ØªÙ…Ø± LEAP 2026 Ø£Ø­Ø¯ Ø£ÙƒØ¨Ø± Ø§Ù„ÙØ¹Ø§Ù„ÙŠØ§Øª Ø§Ù„Ø¹Ø§Ù„Ù…...,25.251674,46.387249,Ø§Ù„Ø±ÙŠØ§Ø¶,2026-04-13 00:00:00+00:00,2026-04-16 00:00:00+00:00,None,VisitSaudi,Ø§Ù„Ø±ÙŠØ§Ø¶,Ø§Ù„Ø±ÙŠØ§Ø¶,riyadh,1.0
1,/content/dam/sauditourism/cf/ar/events/riyadh-...,Ø§Ù„Ù…ØµÙ†Ø¹: Ù…Ø§ Ø¨Ø¹Ø¯ Ø§Ù„Ù…Ø¤Ù‚Øª,ØªÙØ¹Ø¯ Ù…Ø¨Ø§Ø¯Ø±Ø© Ø§Ù„Ù…ØµÙ†Ø¹: Ù…Ø§ Ø¨Ø¹Ø¯ Ø§Ù„Ù…Ø¤Ù‚Øª Ø´Ø±Ø§ÙƒØ© Ø«Ù‚Ø§ÙÙŠØ©...,24.746755,46.535211,Ø§Ù„Ø±ÙŠØ§Ø¶,2026-01-22 00:00:00+00:00,2026-02-14 00:00:00+00:00,None,VisitSaudi,Ø§Ù„Ø±ÙŠØ§Ø¶,Ø§Ù„Ø±ÙŠØ§Ø¶,riyadh,1.0
2,/content/dam/sauditourism/cf/ar/events/riyadh-...,ÙØ§Ù†ØªØ§ÙƒØ³ Ù„ÙƒØ±Ø© Ø§Ù„Ù‚Ø¯Ù… Ø¨Ù†Ø¸Ø§Ù… Ø§Ù„Ø¹Ù„Ù…,ØªØµÙ„ ÙØ¹Ø§Ù„ÙŠØ© ÙØ§Ù†ØªØ§ÙƒØ³ Ù„ÙƒØ±Ø© Ø§Ù„Ù‚Ø¯Ù… Ø¨Ù†Ø¸Ø§Ù… Ø§Ù„Ø¹Ù„Ù… Ø¥Ù„Ù‰ ...,24.777939,46.606171,Ø§Ù„Ø±ÙŠØ§Ø¶,2026-03-21 00:00:00+00:00,2026-03-21 00:00:00+00:00,Ù…Ù† 35 âƒ,VisitSaudi,Ø§Ù„Ø±ÙŠØ§Ø¶,Ø§Ù„Ø±ÙŠØ§Ø¶,riyadh,1.0
3,/content/dam/sauditourism/cf/ar/events/riyadh-...,Ø§Ù„ÙÙ† Ø¹Ø¨Ø± Ø§Ù„Ø®Ù„ÙŠØ¬ Ø§Ù„Ø¹Ø±Ø¨ÙŠ,ÙŠÙØ¹Ø¯ Ù…Ø¹Ø±Ø¶ &quot;Ø§Ù„ÙÙ† Ø¹Ø¨Ø± Ø§Ù„Ø®Ù„ÙŠØ¬ Ø§Ù„Ø¹Ø±Ø¨ÙŠ&quot; Ùˆ...,24.663827,46.690183,Ø§Ù„Ø±ÙŠØ§Ø¶,2025-11-05 00:00:00+00:00,2026-03-31 00:00:00+00:00,None,VisitSaudi,Ø§Ù„Ø±ÙŠØ§Ø¶,Ø§Ù„Ø±ÙŠØ§Ø¶,riyadh,1.0
4,/content/dam/sauditourism/cf/ar/events/jeddah-...,Ø¨Ø·ÙˆÙ„Ø© Ø¥ÙŠÙ‡ Ø¨ÙŠ Ø¨ÙŠ ÙÙˆØ±Ù…ÙˆÙ„Ø§ Ø¥ÙŠ 2026,ØªØ¹ÙˆØ¯ Ø¨Ø·ÙˆÙ„Ø© Ø¥ÙŠÙ‡ Ø¨ÙŠ Ø¨ÙŠ ÙÙˆØ±Ù…ÙˆÙ„Ø§ Ø¥ÙŠ 2026 Ø¥Ù„Ù‰ Ø¬Ø¯Ø© Ù„...,21.626158,39.107834,Ø¬Ø¯Ø©,2026-02-13 00:00:00+00:00,2026-02-14 00:00:00+00:00,Ù…Ù† 80 âƒ,VisitSaudi,Ø¬Ø¯Ø©,Ø¬Ø¯Ø©,jeddah,2.0

Null values per column:
source_id       0
name            0
description     0
latitude        0
longitude       0
city            0
start_date      0
end_date        0
ticket_price    5
source          0
city_norm       0
alias_norm      0
city_geo        0
city_id         0
dtype: int64