In [1]:
import pandas as pd
from pathlib import Path

poi_path = Path("../data/processed/poi")

files = [
    "amusement_and_leisure_clean.parquet",
    "arts_and_culture_clean.parquet",
    "dining_and_drinking_clean.parquet",
    "landmarks_and_nature_clean.parquet",
    "personal_and_household_services_clean.parquet",
    "retail_and_shopping_clean.parquet",
    "travel_and_lodging_clean.parquet"
]

dfs = []

for f in files:
    df = pd.read_parquet(poi_path / f)
    df["category_source"] = f.replace("_clean.parquet", "")
    dfs.append(df)

print("Loaded files:", len(dfs))

Loaded files: 7

In [2]:
poi_master = pd.concat(dfs, ignore_index=True)

print("POI Master shape:", poi_master.shape)
poi_master.head()

POI Master shape: (7000, 18)

,poi_id,name,region,locality,address,longitude,latitude,category_level1,category_level2,category_level3,business_status,phone,website_domain,rating,rating_count,traffic_score,time_spent,category_source
0,19aa47c419fe05c1fa920ce5f658a917,ملاهي بووست - Boost,Jeddah,Jeddah,"Gold Moor, Ahmad Al Attas, 7216, Jeddah 23425,...",39.126735,21.584442,Amusement & Leisure,Amusement Parks & Arcades,Amusement center,Open,+966 50 087 8111,boostsaudi.com,4.1,2720.0,50.29,People typically spend up to 4 hours here,amusement_and_leisure
1,cf2a434ce77c741ddf5023cc71ae5426,Toy Town,Dammam Metropolitan Area,Dammam,"King Fahd Bin Abdul Aziz Rd, Ash Shati Al Ghar...",50.112017,26.465347,Amusement & Leisure,Amusement Parks & Arcades,Amusement park,Open,+966 13 809 1009,toytown.com.sa,4.0,2653.0,44.43,People typically spend up to 2 hours here,amusement_and_leisure
2,172007d43a576161c388ee527945b3ea,ALHOKAIR TIME,Makkah Province,Makkah,"Al Madinah Al Munawarah Rd, Az Zahir, Makkah 2...",39.805105,21.447570,Amusement & Leisure,Amusement Parks & Arcades,Amusement park,Open,+966 9200 06699,alhokair.com,3.9,8499.0,68.57,People typically spend up to 1.5 hours here,amusement_and_leisure
3,f543f9f4ce9d02b03fc4689ee9941074,قيم المساء,Riyadh Province,Riyadh,3311-3394 طريق الامام مالك، بدر،، الرياض 14724...,46.699215,24.552106,Amusement & Leisure,Bowling & Billiards,Billiards supply store,Open,+966 53 368 8755,linktr.ee,4.1,225.0,32.00,People typically spend up to 3.5 hours here,amusement_and_leisure
4,e097a40b53c49134ac6172d1d5d8306b,DAZ داز,Jeddah,Jeddah,"North Obhur, Prince Abdullah AlFaisal Street, ...",39.118702,21.755060,Amusement & Leisure,Amusement Parks & Arcades,Amusement park,Open,+966 800 244 0306,daz.sa,4.6,467.0,36.71,People typically spend up to 3 hours here,amusement_and_leisure

In [3]:
before = poi_master.shape[0]

poi_master = poi_master.drop_duplicates(subset=["poi_id"])

after = poi_master.shape[0]

print("Before dedup:", before)
print("After dedup :", after)

Before dedup: 7000
After dedup : 7000

In [4]:
out = "../data/processed/poi/poi_master.parquet"
poi_master.to_parquet(out, index=False)

print("Saved:", out)

Saved: ../data/processed/poi/poi_master.parquet

In [5]:
import pandas as pd

poi_master = pd.read_parquet("../data/processed/poi/poi_master.parquet")

print(poi_master.shape)
poi_master.head()

(7000, 18)

,poi_id,name,region,locality,address,longitude,latitude,category_level1,category_level2,category_level3,business_status,phone,website_domain,rating,rating_count,traffic_score,time_spent,category_source
0,19aa47c419fe05c1fa920ce5f658a917,ملاهي بووست - Boost,Jeddah,Jeddah,"Gold Moor, Ahmad Al Attas, 7216, Jeddah 23425,...",39.126735,21.584442,Amusement & Leisure,Amusement Parks & Arcades,Amusement center,Open,+966 50 087 8111,boostsaudi.com,4.1,2720.0,50.29,People typically spend up to 4 hours here,amusement_and_leisure
1,cf2a434ce77c741ddf5023cc71ae5426,Toy Town,Dammam Metropolitan Area,Dammam,"King Fahd Bin Abdul Aziz Rd, Ash Shati Al Ghar...",50.112017,26.465347,Amusement & Leisure,Amusement Parks & Arcades,Amusement park,Open,+966 13 809 1009,toytown.com.sa,4.0,2653.0,44.43,People typically spend up to 2 hours here,amusement_and_leisure
2,172007d43a576161c388ee527945b3ea,ALHOKAIR TIME,Makkah Province,Makkah,"Al Madinah Al Munawarah Rd, Az Zahir, Makkah 2...",39.805105,21.447570,Amusement & Leisure,Amusement Parks & Arcades,Amusement park,Open,+966 9200 06699,alhokair.com,3.9,8499.0,68.57,People typically spend up to 1.5 hours here,amusement_and_leisure
3,f543f9f4ce9d02b03fc4689ee9941074,قيم المساء,Riyadh Province,Riyadh,3311-3394 طريق الامام مالك، بدر،، الرياض 14724...,46.699215,24.552106,Amusement & Leisure,Bowling & Billiards,Billiards supply store,Open,+966 53 368 8755,linktr.ee,4.1,225.0,32.00,People typically spend up to 3.5 hours here,amusement_and_leisure
4,e097a40b53c49134ac6172d1d5d8306b,DAZ داز,Jeddah,Jeddah,"North Obhur, Prince Abdullah AlFaisal Street, ...",39.118702,21.755060,Amusement & Leisure,Amusement Parks & Arcades,Amusement park,Open,+966 800 244 0306,daz.sa,4.6,467.0,36.71,People typically spend up to 3 hours here,amusement_and_leisure

In [6]:
poi_categories = (
    poi_master[
        ["category_level1", "category_level2", "category_level3"]
    ]
    .drop_duplicates()
    .reset_index(drop=True)
)

print(poi_categories.shape)
poi_categories.head()

(441, 3)

       category_level1            category_level2         category_level3
0  Amusement & Leisure  Amusement Parks & Arcades        Amusement center
1  Amusement & Leisure  Amusement Parks & Arcades          Amusement park
2  Amusement & Leisure        Bowling & Billiards  Billiards supply store
3  Amusement & Leisure     Escape Rooms & Similar      Escape room center
4  Amusement & Leisure   Misc. Leisure Activities      Tourist attraction

In [7]:
poi_categories["category_id"] = range(1, len(poi_categories) + 1)

# ترتيب الأعمدة
poi_categories = poi_categories[
    ["category_id", "category_level1", "category_level2", "category_level3"]
]

poi_categories.head()

,category_id,category_level1,category_level2,category_level3
0,1,Amusement & Leisure,Amusement Parks & Arcades,Amusement center
1,2,Amusement & Leisure,Amusement Parks & Arcades,Amusement park
2,3,Amusement & Leisure,Bowling & Billiards,Billiards supply store
3,4,Amusement & Leisure,Escape Rooms & Similar,Escape room center
4,5,Amusement & Leisure,Misc. Leisure Activities,Tourist attraction

In [8]:
poi_categories.to_parquet(
    "../data/processed/poi/poi_categories.parquet",
    index=False
)

In [9]:
poi_norm = poi_master.merge(
    poi_categories,
    on=["category_level1", "category_level2", "category_level3"],
    how="left"
)

poi_norm.shape

(7000, 19)

In [10]:
poi_norm = poi_norm.drop(
    columns=["category_level1", "category_level2", "category_level3"]
)

poi_norm.head()

,poi_id,name,region,locality,address,longitude,latitude,business_status,phone,website_domain,rating,rating_count,traffic_score,time_spent,category_source,category_id
0,19aa47c419fe05c1fa920ce5f658a917,ملاهي بووست - Boost,Jeddah,Jeddah,"Gold Moor, Ahmad Al Attas, 7216, Jeddah 23425,...",39.126735,21.584442,Open,+966 50 087 8111,boostsaudi.com,4.1,2720.0,50.29,People typically spend up to 4 hours here,amusement_and_leisure,1
1,cf2a434ce77c741ddf5023cc71ae5426,Toy Town,Dammam Metropolitan Area,Dammam,"King Fahd Bin Abdul Aziz Rd, Ash Shati Al Ghar...",50.112017,26.465347,Open,+966 13 809 1009,toytown.com.sa,4.0,2653.0,44.43,People typically spend up to 2 hours here,amusement_and_leisure,2
2,172007d43a576161c388ee527945b3ea,ALHOKAIR TIME,Makkah Province,Makkah,"Al Madinah Al Munawarah Rd, Az Zahir, Makkah 2...",39.805105,21.447570,Open,+966 9200 06699,alhokair.com,3.9,8499.0,68.57,People typically spend up to 1.5 hours here,amusement_and_leisure,2
3,f543f9f4ce9d02b03fc4689ee9941074,قيم المساء,Riyadh Province,Riyadh,3311-3394 طريق الامام مالك، بدر،، الرياض 14724...,46.699215,24.552106,Open,+966 53 368 8755,linktr.ee,4.1,225.0,32.00,People typically spend up to 3.5 hours here,amusement_and_leisure,3
4,e097a40b53c49134ac6172d1d5d8306b,DAZ داز,Jeddah,Jeddah,"North Obhur, Prince Abdullah AlFaisal Street, ...",39.118702,21.755060,Open,+966 800 244 0306,daz.sa,4.6,467.0,36.71,People typically spend up to 3 hours here,amusement_and_leisure,2

In [11]:
city_aliases = pd.read_csv("../data/processed/geo/city_aliases.csv")
selected_cities = pd.read_csv("../data/final/selected_cities.csv")

In [12]:
poi_norm["city_norm"] = (
    poi_norm["locality"]
    .astype(str)
    .str.strip()
    .str.lower()
)

city_aliases["alias_norm"] = (
    city_aliases["alias_norm"]
    .astype(str)
    .str.strip()
    .str.lower()
)

In [13]:
poi_norm = poi_norm.merge(
    city_aliases[["alias_norm", "city_id"]],
    left_on="city_norm",
    right_on="alias_norm",
    how="left"
)

poi_norm[["locality", "city_id"]].head(10)

    locality  city_id
0     Jeddah      2.0
1     Dammam      4.0
2     Makkah      NaN
3     Riyadh      1.0
4     Jeddah      2.0
5     Riyadh      1.0
6     Riyadh      1.0
7     Riyadh      1.0
8  Al Khobar      3.0
9     Jeddah      2.0

In [14]:
poi_norm = poi_norm.drop(
    columns=["locality", "city_norm", "alias_norm"]
)

In [15]:
poi_norm = poi_norm.drop_duplicates(subset=["poi_id"])

In [16]:
poi_norm = poi_norm.dropna(
    subset=["city_id", "latitude", "longitude"]
)

In [17]:
poi_norm.to_parquet(
    "../data/processed/poi/poi_normalized.parquet",
    index=False
)

print("POI normalization completed ✅")

POI normalization completed ✅

In [18]:
poi_norm = pd.read_parquet(
    "../data/processed/poi/poi_normalized.parquet"
)

poi_norm.shape

(3552, 16)

In [19]:
poi_final = poi_norm[poi_norm["city_id"].isin([1, 2, 3, 4])]

poi_final.shape

(3552, 16)

In [20]:
poi_final = poi_final[
    [
        "poi_id",
        "name",
        "city_id",
        "category_id",
        "latitude",
        "longitude",
        "address",
        "rating",
        "rating_count",
        "business_status",
        "website_domain",
        "phone"
    ]
]

poi_final.head()

,poi_id,name,city_id,category_id,latitude,longitude,address,rating,rating_count,business_status,website_domain,phone
0,19aa47c419fe05c1fa920ce5f658a917,ملاهي بووست - Boost,2.0,1,21.584442,39.126735,"Gold Moor, Ahmad Al Attas, 7216, Jeddah 23425,...",4.1,2720.0,Open,boostsaudi.com,+966 50 087 8111
1,cf2a434ce77c741ddf5023cc71ae5426,Toy Town,4.0,2,26.465347,50.112017,"King Fahd Bin Abdul Aziz Rd, Ash Shati Al Ghar...",4.0,2653.0,Open,toytown.com.sa,+966 13 809 1009
2,f543f9f4ce9d02b03fc4689ee9941074,قيم المساء,1.0,3,24.552106,46.699215,3311-3394 طريق الامام مالك، بدر،، الرياض 14724...,4.1,225.0,Open,linktr.ee,+966 53 368 8755
3,e097a40b53c49134ac6172d1d5d8306b,DAZ داز,2.0,2,21.755060,39.118702,"North Obhur, Prince Abdullah AlFaisal Street, ...",4.6,467.0,Open,daz.sa,+966 800 244 0306
4,b564f41966978aca5e532d29a4d5139e,اسكيب مشن | Escape Mission,1.0,4,24.726551,46.687299,"King Abdulaziz Rd, Al Wurud, Riyadh 12252, Sau...",4.6,740.0,Open,escapemission.sa.com,+966 50 111 0305

In [21]:
poi_final.to_parquet(
    "../data/final/poi_selected.parquet",
    index=False
)

print("POI FINAL saved ✅")

POI FINAL saved ✅

In [22]:
poi_categories = pd.read_parquet(
    "../data/processed/poi/poi_categories.parquet"
)

poi_categories.to_parquet(
    "../data/final/poi_categories.parquet",
    index=False
)

print("POI Categories FINAL saved ✅")

POI Categories FINAL saved ✅